Repository PatrickJung94/AE-Abenteuer-Spiel, pull requests merged in 2021-05, with the labels that each got.

#28 added new field for additional joker
  src/wwae/CreateQuestion.java
  src/wwae/Question.java
Labels: Gamestate, UI

#39 add Rank class and ranking methods in the FileSystem class
  .gitignore
  src/wwae/AellionaerGame.java
  src/wwae/FileSystem.java
  src/wwae/Rank.java
  src/wwae/RankByScoreDESC.java
Labels: File System

#32 Ticket #30 Connection question & filesystem
  src/wwae/AellionaerGame.java
  src/wwae/CreateQuestion.java
  src/wwae/FileSystem.java
Labels: File System, enhancement
